# Fake News Classification

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Embedding,LSTM,Dense,Dropout
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot

In [2]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [5]:
df=df.fillna('')
test=test.fillna('')

In [6]:
df['total'] = df['title']+' '+df['author']
test['total']=test['title']+' '+test['author']

In [7]:
X = df.drop('label',axis=1)
y=df['label']
print(X.shape)
print(y.shape)

(20800, 5)
(20800,)

In [8]:
voc_size = 5000
msg = X.copy()
msg_test = test.copy()

In [9]:
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shivambhosale/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []

In [12]:
for i in range(len(msg)):
  review = re.sub('[^a-zA-Z]',' ',msg['total'][i])
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus.append(review)

In [17]:
corpus_test = []
for i in range(len(msg_test)):
  review = re.sub('[^a-zA-Z]',' ',msg_test['total'][i])
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus_test.append(review)

In [21]:
onehot_rep = [one_hot(words,voc_size)for words in corpus]
onehot_rep_test = [one_hot(words,voc_size)for words in corpus_test]

In [22]:
embedded_docs = pad_sequences(onehot_rep,padding='pre',maxlen=25)
embedded_docs_test = pad_sequences(onehot_rep_test,padding='pre',maxlen=25)

## Creating and training the model

In [23]:
model = Sequential()
model.add(Embedding(voc_size,40,input_length=25))
model.add(Dropout(0.3))
model.add(LSTM(100))
model.add(Dropout(0.3))
model.add(Dense(64,activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 25, 40)            200000
_________________________________________________________________
dropout_6 (Dropout)          (None, 25, 40)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 100)               56400
_________________________________________________________________
dropout_7 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_4 (Dense)              (None, 64)                6464
_________________________________________________________________
dropout_8 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 65
=================================================================
Total params: 262,929
Trainable params: 262,929
Non-trainable params: 0
_________________________________________________________________
None

In [24]:
X_final = np.array(embedded_docs)
y_final = np.array(y)
test_final = np.array(embedded_docs_test)
X_final.shape,y_final.shape,test_final.shape

((20800, 25), (20800,), (5200, 25))

In [25]:
model.fit(X_final,y_final,epochs=20,batch_size=64)

Epoch 1/20
325/325 [==============================] - 4s 13ms/step - loss: 0.1447 - accuracy: 0.9401
Epoch 2/20
325/325 [==============================] - 6s 20ms/step - loss: 0.0201 - accuracy: 0.9948
Epoch 3/20
325/325 [==============================] - 10s 30ms/step - loss: 0.0107 - accuracy: 0.9973
Epoch 4/20
325/325 [==============================] - 10s 30ms/step - loss: 0.0057 - accuracy: 0.9987
Epoch 5/20
325/325 [==============================] - 10s 31ms/step - loss: 0.0049 - accuracy: 0.9987
Epoch 6/20
325/325 [==============================] - 11s 32ms/step - loss: 0.0035 - accuracy: 0.9988
Epoch 7/20
325/325 [==============================] - 10s 32ms/step - loss: 0.0033 - accuracy: 0.9990
Epoch 8/20
325/325 [==============================] - 10s 31ms/step - loss: 0.0021 - accuracy: 0.9993
Epoch 9/20
325/325 [==============================] - 9s 28ms/step - loss: 0.0021 - accuracy: 0.9993
Epoch 10/20
325/325 [==============================] - 10s 32ms/step - loss: 0.0018 - accuracy: 0.9994
Epoch 11/20
325/325 [==============================] - 9s 29ms/step - loss: 9.3070e-04 - accuracy: 0.9997
Epoch 12/20
325/325 [==============================] - 9s 29ms/step - loss: 0.0017 - accuracy: 0.9995
Epoch 13/20
325/325 [==============================] - 10s 30ms/step - loss: 9.1142e-04 - accuracy: 0.9998
Epoch 14/20
325/325 [==============================] - 9s 28ms/step - loss: 0.0017 - accuracy: 0.9995
Epoch 15/20
325/325 [==============================] - 10s 30ms/step - loss: 0.0012 - accuracy: 0.9996
Epoch 16/20
325/325 [==============================] - 10s 30ms/step - loss: 3.0411e-04 - accuracy: 1.0000
Epoch 17/20
325/325 [==============================] - 10s 30ms/step - loss: 4.1951e-04 - accuracy: 0.9999
Epoch 18/20
325/325 [==============================] - 10s 29ms/step - loss: 7.2299e-04 - accuracy: 0.9998
Epoch 19/20
325/325 [==============================] - 10s 29ms/step - loss: 4.3088e-04 - accuracy: 0.9998
Epoch 20/20
325/325 [==============================] - 11s 33ms/step - loss: 8.9692e-04 - accuracy: 0.9997

## Submission file

In [26]:
y_pred = model.predict_classes(test_final)

WARNING:tensorflow:From <ipython-input-26-6da2f74d2fdb>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [27]:
final_sub = pd.DataFrame()
final_sub['id']=test['id']
final_sub['label'] = y_pred
final_sub.to_csv('final_sub.csv',index=False)

In [28]:
final_sub.head()

      id  label
0  20800      0
1  20801      1
2  20802      1
3  20803      0
4  20804      1